body {
	font-family : Arial;
	src: url('fonts/arial.svg');
	background-color：#0000CD;
}

h1, h2 {
	color : #00FFFF;
	text-align:center;
}

p {
	color :rgb(90,78,78);
}

div{
	height:300px;
	width:100%;
	background-color:#561242;
}
